<% if (cart.content.length === 0) { %>
    <%- include('./cartContentEmpty'); %>
<% } else { %>
    <div class="overflow-y-auto">
        <div><%= cart.error %></div>
        <%- include('./cartContentProducts', { parent: "cart" }); %>
    </div>
    <div class="px-3 py-2 border-top text-end">
        <div class="d-flex">
            <div class="me-2">Subtotal</div>
            <div class="ms-auto fw-bold"><%= cart.costSubtotal.toFixed(2) %> zł</div>
        </div>
    </div>
    <div class="px-3 pb-2 text-center">
        <a class="btn btn-primary w-100 d-block" href="/cart/checkout" data-bs-dismiss="offcanvas">Checkout</a>
        <button
            class="btn btn-sm text-secondary mt-2 py-0"
            id="clear-cart"
            hx-delete="/cart/content"
            hx-target="#cart-content"
            hx-trigger="confirmed"
            onClick="Swal.fire({
                text:'Are you sure you want to empty the contents of your cart?',
                showCancelButton: true
            }).then((result)=>{
                if(result.isConfirmed){
                  htmx.trigger(this, 'confirmed');  
                } 
            })"
        >Clear</button>
    </div>
<% } %>
<div class="d-flex justify-content-between align-items-center bg-body-tertiary border-top border-bottom text-secondary mt-auto p-1">
    <button
        class="btn btn-outline-secondary me-3 w-100 h-100 material-icons fs-6 notranslate"
        style="border-style: dashed;"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
        title="<%= __('Close cart panel') %>"
    >double_arrow</button>
    <div class="text-nowrap d-none d-sm-block user-select-none"><%= __('Active cart') %>:</div>
    <div class="mx-1">
        <%- include('./cartSelect'); %>
    </div>
    <div class="dropdown">
        <button class="btn btn-sm fs-5 h-100 px-0 material-icons notranslate" type="button" data-bs-toggle="dropdown" aria-expanded="false" title="<%= __('Manage carts') %>">more_vert</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item cursor-pointer" hx-post="/cart">Create new cart</a></li>
            <li>
                <a
                    class="dropdown-item cursor-pointer"
                    hx-delete="/cart"
                    hx-trigger="confirmed"
                    onClick="Swal.fire({
                        text:'Are you sure you want to delete your cart?',
                        showCancelButton: true
                    }).then((result)=>{
                        if(result.isConfirmed){
                          htmx.trigger(this, 'confirmed');  
                        } 
                    })"
                >Delete active cart</a>
            </li>
            <li><a class="dropdown-item" href="#">Manage carts contents</a></li>
        </ul>
    </div>
</div>