<% if (cart.content.length === 0) { %>
    <%- include('./cartContentEmpty'); %>
    <div class="card-body p-0 pb-2" id="checkout-cart-content" hx-swap-oob="true">
        <%- include('./cartContentEmpty'); %>
    </div>
<% } else { %>
    <div class="overflow-y-auto">
        <div><%= cart.error %></div>
        <%- include('./cartContentProducts'); %>
        <div class="card-body p-0 pb-2" id="checkout-cart-content" hx-swap-oob="true">
            <%- include('./cartContentProducts'); %>
        </div>
    </div>
    <div class="px-3 py-2 border-top text-end">
        <div class="d-flex">
            <div class="me-2">Subtotal</div>
            <div class="ms-auto fw-bold"><%= cart.costSubtotal.toFixed(2) %> zł</div>
        </div>
    </div>
    <div class="px-3 pb-2 text-center">
        <a class="btn btn-primary w-100 d-block" href="/cart/checkout" data-bs-dismiss="offcanvas">Checkout</a>
        <button
            class="btn btn-sm text-secondary mt-2 py-0"
            id="clear-cart"
            hx-delete="/cart"
            hx-target="#cart-content"
            hx-trigger="confirmed"
            onClick="Swal.fire({
                text:'Are you sure you want to clear your cart?',
                showCancelButton: true
            }).then((result)=>{
                if(result.isConfirmed){
                  htmx.trigger(this, 'confirmed');  
                } 
            })"
        >Clear</button>
    </div>
<% } %>
<div class="bg-body-secondary border-top border-bottom text-secondary mt-auto cursor-pointer user-select-none"
    data-bs-dismiss="offcanvas"
    aria-label="Close">
    <span
      class="px-2 py-1"
    >&raquo;</span>
</div>
<span hx-swap-oob="true" id="cart-length" class="badge bg-primary px-1 position-absolute end-0" style="padding: 0.15rem;"><%= cart.content.length || "" %></span>