<div class="accordion-item cart-product bg-body-tertiary">
    <div class="accordion-header">
        <button class="accordion-button<%= product.expanded ? '' : ' collapsed' %>" type="button" data-bs-toggle="collapse" data-bs-target="#<%= parent %>-product-<%= product.id %>" aria-expanded="<%= product.expanded ? 'true' : 'false' %>" aria-controls="<%= parent %>-product-<%= product.id %>">
            <div class="w-100 text-body">
                <div class="d-flex justify-content-between user-select-none">
                    <div class="fw-bold"><%= product.title %></div>
                    <div class="ms-2">
                        <%= product.prices.reduce((acc, curr) => acc + curr.price * curr.qty, 0).toFixed(2) %>&nbsp;zł
                    </div>
                </div>
                <div class="d-flex justify-content-between user-select-none sub-summary">
                    <div>
                        <small class="text-muted">
                            <% product.config.filter(param => param.value.value !== '-').map(param => { %>
                                <%= param.value.title %>
                            <% }); %>
                        </small>
                    </div>
                    <div class="fw-bold ms-2"><small><%= product.quantity %></small></div>
                </div>
            </div>
        </button>
    </div>
    <div id="<%= parent %>-product-<%= product.id %>" class="accordion-collapse collapse<%= product.expanded ? ' show' : '' %>" data-bs-parent="#<%= parent %>-products-accordion">
        <div class="accordion-body">
            <div class="d-flex justify-content-between">
                <% const params = product.config.filter(param => param.value.value !== '-'); %>
                <div>
                    <% params.map(param => { %>
                    <small class="d-block">
                        <span><%= param.param.title %>:</span>
                        <strong><%= param.value.title %></strong>
                    </small>
                    <% }); %>
                </div>
                <%- include(`./cartContentProductActions-${ params.length ? 'column' : 'row'}`); %>
            </div>
        </div>
    </div>
</div>