<select name="active-cart-select" id="active-cart-select" class="border bg-body-tertiary text-muted p-1 rounded-0" hx-get="/cart/select" hx-trigger="change delay:500ms">
    <% userCarts.map(userCart => { %>
        <% if (userCart._id.toString() === cart._id.toString()) Object.assign(userCart, cart, { selected: true }); %>
        <option value="<%= userCart._id %>"<%= userCart.selected ? ' selected' : '' %>>
            <%= userCart.name || "#" + userCart._id.toString().slice(-4) %> (<%= userCart.content.length %> item<%= userCart.content.length !== 1 ? 's' : '' %>)
        </option>
    <% }); %>
</select>