<details class="cart-product py-1<%= index !== 0 ? ' border-top' : '' %>">
    <summary class="px-3 py-1">
        <div class="d-flex justify-content-between user-select-none">
            <div class="text-muted"><%= product.title %></div>
            <div><%= product.quantity %></div>
        </div>
        <small class="fw-bold">
            <% Object.entries(product.description).slice(0, -1).filter(param => param[1] !== 'N/A').map(param => { %>
                <%= param[1] %>
            <% }); %>        
        </small>
    </summary>
    <div class="px-3 mb-2">
        <% Object.entries(product.description).filter(param => param[1] !== 'N/A').map(param => { %>
        <small class="d-block">
            <span><%= param[0] %>:</span>
            <strong><%= param[1] %></strong>
        </small>
        <% }); %>
        <div class="cart-product-actions text-end mt-1">
            <button class="btn btn-sm py-0 btn-primary" onclick="alert('TODO')">Edit</button>
            <button class="btn btn-sm py-0 text-secondary ms-1 delete-product" hx-delete="/cart/products/<%= product.id %>" hx-target="#cart-content" hx-confirm="Are you sure you want to remove product <%= product.title %> from your cart?">Remove</button>
        </div>
    </div>
</details>
<script type="module">
    import EventsHandler from '/js/htmx-events-handler.js';

    document.querySelectorAll('.delete-product').forEach(button => {
        EventsHandler.register({
            element: button,
            event: 'htmx:afterRequest',
            handler: (e) => {
                htmx.ajax('GET', '/cart/length', '#cart-length')
            }
        });
    });
</script>